* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

.qrbox {

    background-color: hsl(0, 0%, 100%);
    max-width: 320px;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 1.5rem;
}

.qr-image {

    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}

.qrbox h1 {

    color: hsl(218, 44%, 22%);
    font-size: 1.375rem;
    font-weight: 700;
    margin-bottom: 1rem;
    padding: 0 0.5rem;
}

.qrbox p {

    color: hsl(216, 15%, 48%);
    font-size: 0.9375rem;
    font-weight: 400;
    padding: 0 0.5rem;
    margin-bottom: 1.5rem;
    line-height: 1.4;
}