* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96A1A8;
    font-family: 'Outfit', sans-serif;
}

.qrbox {
    background-color: #ffffff;
    max-width: 320px;
    padding: 1rem;
    border-radius: 1.25rem;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    margin: 1.5rem;
}

.qr-image {
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1.5rem;
}
